/* Global font-face setup for custom fonts */
@font-face {
  font-family: 'FontOld'; /* Choose a custom name for your font */
  src: url('/assets/css/fontOld.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

/* VARIABLES */
$font-family: 'FontOld', serif;
$modern-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Colors
$post-title-color: #303030;
$post-date-color: #9a9a9a;

$body-color: #515151;
$body-background-color: #fff5e3e3;
$link-color: rgb(188, 121, 34);
$link-hover-color: rgb(227, 169, 94);
$button-color: rgb(237, 177, 98);
$button-hover-color: rgb(255, 206, 143);
$image-border: rgb(255, 255, 255);
// $link-hover-color: #3a67af;
$strong-color: #303030;

// Post feed
$link-color-post: $body-color;
$link-hover-post:  $link-color;

$pre-background-color: #f9f9f9;
$blockquote-color: #7a7a7a;
$blockquote-border-color: #e5e5e5;
$table-border-color: #e5e5e5;
$table-odd-background-color: #f9f9f9;






// Global Defaults
html {
  font-family: $font-family;
  font-size: 1.25rem;
  line-height: 1.25rem;
  
  @media (max-width: 768px) {
    font-size: 1rem;
    line-height: 1rem;
  }
}

header {
  padding-bottom: 0rem;
}

section {
  padding-bottom: 2rem;
}


body {
  color: $body-color;
  background-color: $body-background-color;
  font-size: var(--font-size, 1rem); /* Add default font size */
  font-family: var(--font-family, 'FontOld');
  line-height: var(--line-height, 1.5);
  padding-top: 1em;
}





/* Main container style */
.container {
  max-width: 38rem;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 768px) {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

.container a {
  color: $link-color;
}

.container a:hover {
  color: $link-hover-color;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--heading-color);
  text-rendering: optimizeLegibility;

  @media (max-width: 768px) {
    h1 {
      font-size: 1.7em;
    }

    h2 {
      font-size: 1.5em;
    }

    h3 {
      font-size: 1.3em;
    }

    h4 {
      font-size: 1em;
    }

    h5 {
      font-size: 1em;
    }

    h6 {
      font-size: 0.8em;
    }
  }
}

/* Blockquotes */
blockquote {
  padding: 1.5rem 2rem;
  margin: 1.5rem 0;
  font-style: italic;
  color: var(--blockquote-color);
  border-left: 4px solid var(--blockquote-border-color);
  background-color: #f9f9f9;
  border-radius: 8px;
  position: relative;

  &::before,
  &::after {
    font-size: 2.4rem;
    opacity: 0.3;
    color: var(--blockquote-color);
  }

  &::before {
    content: "“";
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
  }

  &::after {
    content: "”";
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  @media (max-width: 768px) {
    padding: 1rem 1.5rem;
    &::before,
    &::after {
      font-size: 2rem;
    }
  }
}

/* Images */
.image-bordered {
  width: 100%;
  border-radius: 10px;
  background-color: $image-border;
  padding: 0.1rem;
  display: block;
  margin: 1px auto;
  box-shadow: 0 6px 12px rgba(19, 10, 0, 0.1);
}


/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid var(--table-border-color);
  border-collapse: collapse;

  td, th {
    padding: 0.5rem 0.75rem;
  }

  @media (max-width: 768px) {
    td, th {
      padding: 0.4rem;
      font-size: 0.9em;
    }
  }
}

/* Links */
a {
  color: var(--link-color);
  text-decoration: none;

  &:hover, &:focus {
    color: var(--link-hover-color);
    text-decoration: none;
  }
}

ul, ol, dl, p {
  margin-top: 0;
  margin-bottom: 1rem;
}



// CODE CODE CODE CODE CODE CODE CODE

/* Style for the pre block */
pre {
  position: relative;
  border-radius: 8px;
  padding: 1rem;
  overflow: hidden; /* Prevent scrolling from affecting the button */
  margin-bottom: 1rem;
  white-space: pre-wrap;
  background-color: #f4f4f4;
}

pre code {
  display: block;
  overflow: auto; /* Scroll only the code content */
  font-family: "Fira Code", "Courier New", Consolas, Monaco, monospace !important;
  font-size: 0.8rem !important;
  line-height: 1rem !important;
}


.copy-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: $button-color;
  color: #333;
  border: none;
  padding: 5px 10px;
  font-size: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  z-index: 100; /* Keep the button above everything else */
  pointer-events: auto; /* Ensure the button is clickable */
}


.copy-btn:hover {
  background-color: $button-hover-color;
}

.copy-btn:active {
  background-color: $button-hover-color;
}



/* For inline code */
//code {
//  font-family: "Fira Code", "Courier New", Consolas, Monaco, monospace !important;
//  background-color: #f4f4f4;  /* Optional: Adds background for inline code */
//  padding: 0.2rem 0.4rem;
//  border-radius: 8px;
//





// Quick update to check if I can update the site remotely



/* Custom Feed Section */

#feed {
  font-family: var(--font-family);
  margin: 1rem;
}

#feed h1 {
  text-align: center;
}



/* Remove list item dots (default) for specific lists */
#feed ul, #feed ol {
  list-style-type: none;
  padding-left: 0;
}

.year-separator, .month-separator {
  font-weight: bold;
  text-align: left;
  margin-top: 1rem;
}

.month-separator {
  color: $post-date-color;
  text-align: right;
}

.month-separator-space {
  margin-bottom: 1.5rem; /* Adjust the space between months (feel free to change this value) */
}


/* Flex container for the post entry */
.post-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  position: relative;
}


/* Title section */
.post-title {
  color: $link-color-post;
  flex-grow: 1;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-title:hover {
  color: $link-hover-color;  /* Hover color */
}


/* Post separator line between title and date */
.post-separator {
  flex-grow: 1;
  border-top: 1px solid $post-date-color; /* grey line */
  margin: 0 1rem; /* Adjust this to control the space between title and date */
}

/* Date section */
.post-date {
  color: $post-date-color;
  text-align: right;
  font-size: 1rem;
}

/* Change separator and date color when title is hovered */
.post-title:hover ~ .post-separator {
  border-color: $link-hover-color;
}

.post-title:hover ~ .post-date {
  color: $link-hover-color;
}


/* Footer Styling */
#footer {
  background-color: #f6f6f6;
  border-radius: 8px;
  padding: 1em 1em;
  text-align: center;
  color: #969696;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 15vh;
  margin-top: auto;
}

.footer-content {
  font-family: var(--font-family);
  font-size: 1.25em;
  margin-bottom: 1em;
}

.footer-separator {
  font-family: var(--modern-font-family);
  font-size: 1.5rem;
  color: $body-color;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 2rem; /* Adjust spacing between the symbols */
}

.rotated-symbol {
  display: inline-block;
  transform: rotate(90deg); /* Rotate each symbol */
  font-size: 1.5rem; /* Adjust size as needed */
}

.footer-nav {
  font-family: var(--modern-font-family);
  font-size: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1.5rem;
}

.footer-nav a {
  text-decoration: none;
  color: $body-color;
  transition: color 0.3s ease;
}

.footer-nav a.current {
  color: $link-color;
}

.footer-nav a:hover {
  color: $link-color;
}
