---
layout: default
title: All Posts
category_filter: ""  # Specify the category you want to filter by
---

<div class="container">
    <h2>{{ page.title }}</h2> <!-- Specific title -->
    <div class="page-content">
      {{ content }}     <!-- Specific page content -->
    </div>
  
    <div class="post-list">
      {% for post in site.posts %}
        {% if page.category_filter == "" or post.categories contains page.category_filter %}
          <!-- Only display posts if category_filter is empty (no filtering) or if post contains the specified category -->
          <div class="post-item">
            <div class="post-title">
              <a href="{{ post.url }}">{{ post.title }}</a>
            </div>
            <div class="post-date-category">
              <span class="post-date">{{ post.date | date: "%m-%d" }}</span>
              {% if post.categories.size > 0 %}
                <span class="post-category">#{{ post.categories[0] }}</span>
              {% endif %}
            </div>
              {% if post.excerpt.size > 0 %}
            <div class="post-excerpt">
              {{ post.excerpt | truncatewords: 30 }}
            </div>
              {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  